<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text="volver" mode="ios"></ion-back-button>

    </ion-buttons>
    <ion-title class="ion-text-center">Registro</ion-title>
  </ion-toolbar>
</ion-header>
<br><br><br><br><br><br><br><br><br><br>
<ion-card color="tertiary">
  <ion-card-content >
    
    <form #form="ngForm" (ngSubmit)="onSubmit()">
      <ion-item color="tertiary">
        <ion-label id="bold" position="stacked">Usuario</ion-label>
        <ion-input id="registerinput" required type="text" name="usrname" [(ngModel)]="datos.username"></ion-input>
      </ion-item>
      <ion-item color="tertiary">
        <ion-label id="bold" position="stacked">Password</ion-label>
        <ion-input id="registerinput" required type="password" name="pass" [(ngModel)]="datos.password"></ion-input>
      </ion-item>
      <ion-item color="tertiary">
        <ion-label id="bold" position="stacked">Correo</ion-label>
        <ion-input id="registerinput" type="email" name="mail" [(ngModel)]="datos.correo" required></ion-input>
      </ion-item>
      <ion-button class="ion-margin-top" (click)="registrar()" expand="full" color="light" shape="round"
        type="submit" [disabled]="form.invalid">
        Crear cuenta
      </ion-button>

      <ion-button expand="full" shape="round" color="light" class="ion-text-center ion-margin-top"
        routerLink="/login">
        <p>Volver al login</p>
      </ion-button>
    </form>
  </ion-card-content>
</ion-card>

<ion-content class="ion-padding">





</ion-content>
