<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title class="ion-text-center">Registrapp</ion-title>
  </ion-toolbar>
</ion-header>
<br><br><br><br><br><br>
<ion-content id="content" class="ion-padding">
  <ion-text id="text1" color="tertiary">
    <h1>Ingresa tu correo para recuperar tu contraseña</h1>
  </ion-text>
  <ion-card color="tertiary">

    <ion-card-content>

      <ion-item color="tertiary">

       <ion-label id="correo" position="stacked">Correo</ion-label>
        <ion-input id="frgtpsswrdinput" [formControl]="userEmail" required type="text" name="Email"></ion-input>

      </ion-item>
      <br>
     <ion-button (click)="onReset()" color="light" expand="block" shape="round">
        Recuperar
      </ion-button>

    </ion-card-content> 

  </ion-card>

</ion-content>