#text1 {
    text-align: center;

}

#content {
    align-content: flex-end;
}

#correo {
    font-weight: bold;
    font-size: large;
}

#frgtpsswrdinput {
    background-color: rgb(31, 30, 30);
    shape-margin: 5px;
    border: 2px solid  rgb(31, 30, 30);
    border-radius: 5px;
    
  }