<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title class="ion-text-center">Inicio Sesión</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <br><br><br><br><br><br><br><br><br><br>

      <ion-item>
        <ion-label position="stacked">Correo</ion-label>
        <ion-input required type="text" name="Email" [(ngModel)]="usuario.correo" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Clave</ion-label>
        <ion-input required type="password" name="pass" [(ngModel)]="usuario.password" ></ion-input>
      </ion-item>


<form #form="ngForm" (ngSubmit)="onSubmit()">
  <ion-button shape="round" expand="full" color="tertiary"
   type="submit" [disabled]="form.invalid" class="ion-margin-top">
    Iniciar Sesión
  </ion-button>
</form>

<ion-button expand="full" shape="round" color="tertiary" class="ion-text-center ion-margin-top" routerLink="/registro">
  <p>Registrarse</p>
</ion-button>



</ion-content>
