<ion-header>
  <ion-toolbar color="tertiary">
    <ion-icon slot="start" name="home" size="large" class="ion-padding"></ion-icon>
    <ion-title>
      Registrapp
    </ion-title>
    <ion-text slot="end" class="ion-padding" (click)="logout()">
      <p>Salir</p>
    </ion-text>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <br><br><br><br><br><br><br><br><br><br><br><br>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>  
        <ion-text color="tertiary" class="ion-text-center">
        <h1>Bienvenido a Registrapp, {{info.username}}!</h1>
      </ion-text>
    </ion-card-subtitle>
    </ion-card-header>
  
  </ion-card>

</ion-content>
