<div *ngIf="asignatura">

  <ion-card class="animate__animated animate__backInRight" (click)="setOpen(true)">
    <ion-card-header color="tertiary">
      <ion-card-subtitle>Asignatura: {{asignatura.nombre}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</div>
<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Registrar Asistencia</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <br><br><br><br><br><br><br>
        <div id="qrcode">
          <br/>
          </div>
          <br><br><br><br><br><br><br><br>
          <ion-button  color="tertiary" (click)="scan()" expand="block" shape="round">
            Escanear Codigo QR
          </ion-button>
          <br>
          <ion-button  color="tertiary" (click)="guardarAsignaturas()" expand="block" shape="round">
            Registrar Asistencia
          </ion-button>

    </ion-content>
  </ng-template>
</ion-modal>